__pycache__/
.DS_Store
*.pyc
*.pyo
*~
temp.csv
.env       # For environment variables
.venv/      # Or venv/ for virtual environments
venv/       # Or virtualenv/
dist/       # For distribution packages
build/      # For build artifacts
.pytest_cache/ # For pytest cache
.coverage     # For coverage reports
*.log        # Ignore log files
*.swp        # Swap files (Vim)
*.swo        # Swap files (Vim)
.idea/      # IntelliJ IDEA files
.vscode/     # VS Code files